
<div class="container mt-4">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Comments</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of transactionlist">
                                <td>{{ item.id }}</td>
                                <td>{{ formatDate(item.date) }}</td>
                                <td>{{ item.Comments }}</td>
                                <td><button type="button" class="btn btn-sm btn-primary" (click)="viewItem(item)">View</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div *ngIf="selectedItem">
        <h3>Item Details</h3>
        <form>
            <div class="mb-3">
                <label for="ID" class="form-label">ID</label>
                <input type="text" class="form-control" value={{selectedItem.id}} name="id" readonly>
              </div>
              <div class="mb-3">
                <label for="Date" class="form-label">Date</label>
                <input type="text" class="form-control" value={{formattedDate}} name="date" readonly>
              </div>
              <div class="mb-3">
                <label for="Comments" class="form-label">Comments</label>
                <input type="text" class="form-control" value={{selectedItem.Comments}} name="Comments" [readonly]='false'>
              </div>
        </form>
      </div>
</div>