<div class="container mt-4">
  
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="selectedItem">
                        <h3>Item Details</h3>
                        <form>
                            <div class="mb-3">
                                <label for="ID" class="form-label">ID</label>
                                <input type="text" class="form-control" [(ngModel)]="selectedItem.id" name="id" readonly>
                              </div>
                              <div class="mb-3">
                                <label for="Date" class="form-label">Date</label>
                                <input type="text" class="form-control" [(ngModel)]="formattedDate" name="date" readonly>
                              </div>
                              <div class="mb-3">
                                <label for="Comments" class="form-label">Comments</label>
                                <input type="text" class="form-control" [(ngModel)]="selectedItem.Comments" name="Comments" [readonly]='false'>
                              </div>
                        </form>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
 